*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/release
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/appInsightsSettings.xml
.idea/migrations.xml
.idea/runConfigurations.xml
